@tailwind base;
@tailwind components;
@tailwind utilities;

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 1000;
}

.popup-content {
    background-color: #BCB8B1;
    width: 200px;
    height: 150px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content p{
    font-size: 1.5rem; 
    margin: 0 0 20px; 
}

.close-popup {
    background-color: #463F3A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.close-popup:hover {
    background-color: #352921;
}

.winning-line {
    position: absolute;
    width: 100%;
    height: 5px; /* Adjust thickness */
    background-color: red; /* Change color as needed */
    visibility: hidden; /* Initially hidden */
    transition: visibility 0s, opacity 0.5s linear; /* Smooth transition */
    opacity: 0; /* Initially transparent */
}